<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308332286849-irnt6u02lpvht2k3987i28vahs623lqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308332286849-irnt6u02lpvht2k3987i28vahs623lqd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>308332286849-3k9g3ctdfebaj8mh56p7619lgococd03.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBl57bAX9_egYe6a3q4ZW5nP3aMUEFuA6w</string>
	<key>GCM_SENDER_ID</key>
	<string>308332286849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MaxTristan.fFinder</string>
	<key>PROJECT_ID</key>
	<string>pwsmt-fd851</string>
	<key>STORAGE_BUCKET</key>
	<string>pwsmt-fd851.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308332286849:ios:0c34a050f4747298744e80</string>
</dict>
</plist>